#%RAML 1.0
---

title: Integration Framework Test Support
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/integration-framework-test-support:
  /individuals/employment/nino/{nino}:
    uriParameters:
      nino:
        description: The employee's National Insurance number.
        type: string
        example: AA123456D
    post:
      displayName: Create an employments payload
      description: !include docs/individuals/create-employment-description.md
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token or server token.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
        Content-Type:
          description: Specifies the content-type of the body.
          type: string
          required: true
          example: application/json
      queryParameters:
        startDate:
          description: !include docs/individuals/create-employment-data-date-from.md
          type: string
          required: true
          example: 2019-01-01
        endDate:
          description: !include docs/individuals/create-employment-data-date-to.md
          type: string
          required: true
          example: 2020-01-01
        useCase:
          description: The use case that the employments data relates to.
          type: string
          required: true
          example: LAA-C1 or LAA-C2 or LAA-C3 or LAA-C4 or LSANI-C1 or LSANI-C3 or HMCTS-C2 or HMCTS-C3 or HMCTS-C4 or NICTSEJO-C4
      body:
        application/json:
          schema: !include schemas/individuals/create-employment.json
          example: !include examples/individuals/create-employment.json
      responses:
        201:
          description: The created employment
          body:
            application/json:
              example: !include examples/individuals/create-employment-response.json
              type: !include schemas/individuals/create-employment-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST

  /individuals/income/sa/nino/{nino}:
    uriParameters:
      nino:
        description: The employee's National Insurance number.
        type: string
        example: AA123456D

    post:
      displayName: Create a Self Assessment payload
      description: !include docs/individuals/create-self-assessment-description.md
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token or server token.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
        Content-Type:
          description: Specifies the content-type of the body.
          type: string
          required: true
          example: application/json
      queryParameters:
        startYear:
          description: !include docs/individuals/create-self-assessment-first-tax-description.md
          type: string
          required: true
          example: '2018'
        endYear:
          description: !include docs/individuals/create-self-assessment-last-tax-description.md
          type: string
          required: true
          example: '2019'
        useCase:
          description: The use case that the Self Assessment income data relates to.
          type: string
          required: true
          example: LAA-C1 or LAA-C2 or LAA-C3 or LAA-C4 or LSANI-C1 or LSANI-C3 or HMCTS-C2 or HMCTS-C3 or HMCTS-C4 or NICTSEJO-C4
      body:
        application/json:
          schema: !include schemas/individuals/create-self-assessment-request.json
          example: !include examples/individuals/create-self-assessment-request.json
      responses:
        201:
          description: The created self assessment
          body:
            application/json:
              example: !include examples/individuals/create-self-assessment-response.json
              type: !include schemas/individuals/create-self-assessment-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST

  /individuals/income/paye/nino/{nino}:
    uriParameters:
      nino:
        description: The employee's National Insurance number.
        type: string
        example: AA123456D

    post:
      displayName: Create a PAYE income payload
      description: !include docs/individuals/create-paye-income-description.md
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token or server token.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
        Content-Type:
          description: Specifies the content-type of the body.
          type: string
          required: true
          example: application/json
      queryParameters:
        startDate:
          description: !include docs/individuals/create-paye-data-date-from.md
          type: string
          required: true
          example: 2019-01-01
        endDate:
          description: !include docs/individuals/create-paye-data-date-to.md
          type: string
          required: true
          example: 2020-01-01
        useCase:
          description: The use case that the PAYE income data relates to.
          type: string
          required: true
          example: LAA-C1 or LAA-C2 or LAA-C3 or LAA-C4 or LSANI-C1 or LSANI-C3 or HMCTS-C2 or HMCTS-C3 or HMCTS-C4 or NICTSEJO-C4
      body:
        application/json:
          schema: !include schemas/individuals/create-paye-income.json
          example: !include examples/individuals/create-paye-income.json
      responses:
        201:
          description: The created paye income
          body:
            application/json:
              example: !include examples/individuals/create-paye-income-response.json
              type: !include schemas/individuals/create-paye-income-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST

  /individuals/tax-credits/nino/{nino}:
    uriParameters:
      nino:
        description: The employee's National Insurance number
        type: string
        example: AA123456D
    post:
      displayName: Create a benefits and credits payload
      description: !include docs/individuals/create-benefits-and-credits-description.md
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token or server token.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
        Content-Type:
          description: Specifies the content-type of the body.
          type: string
          required: true
          example: application/json
      queryParameters:
        startDate:
          description: !include docs/individuals/create-benefits-and-credits-data-date-from.md
          type: string
          required: true
          example: 2019-01-01
        endDate:
          description: !include docs/individuals/create-benefits-and-credits-data-date-to.md
          type: string
          required: true
          example: 2020-01-01
        useCase:
          description: The use case that the benefits and credits data relates to.
          type: string
          required: true
          example:  LAA-C1-working-tax-credit or LAA-C2-working-tax-credit or LAA-C3-working-tax-credit or LAA-C1-child-tax-credit
                    or LAA-C2-child-tax-credit or LAA-C3-child-tax-credit or HMCTS-C2-working-tax-credit or HMCTS-C3-working-tax-credit
                    or LSANI-C1-working-tax-credit or LSANI-C3-working-tax-credit
      body:
        application/json:
          schema: !include schemas/individuals/create-benefits-and-credits.json
          example: !include examples/individuals/create-benefits-and-credits.json
      responses:
        201:
          description: The created employment
          body:
            application/json:
              example: !include examples/individuals/create-benefits-and-credits-response.json
              type: !include schemas/individuals/create-benefits-and-credits-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST

  /individuals/details/contact/nino/{nino}:
    uriParameters:
      nino:
        description: The employee's National Insurance number
        type: string
        example: AA123456D
    post:
      displayName: Create a details payload
      description: !include docs/individuals/create-contact-details-description.md
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token or server token.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
        Content-Type:
          description: Specifies the content-type of the body.
          type: string
          required: true
          example: application/json
      queryParameters:
        useCase:
          description: The use case that the details relate to.
          type: string
          required: true
          example: LAA-C3-residences or LAA-C4-residences or HMCTS-C3-residences or HMCTS-C4-residences or
                   LSANI-C1-residences or LSANI-C4-residences or NICTSEJO-C4-residences or LAA-C4-contact-details or HMCTS-C4-contact-details
      body:
        application/json:
          schema: !include schemas/individuals/create-contact-details.json
          example: !include examples/individuals/create-contact-details.json
      responses:
        201:
          description: The created contact details
          body:
            application/json:
              example: !include examples/individuals/create-contact-details-response.json
              type: !include schemas/individuals/create-contact-details-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST

  /organisations/self-assessment/{utr}/return/details:
    uriParameters:
      utr:
        description: "A Unique Tax Reference"
        type: string
        required: true
        example: "1234567890"
    post:
      displayName: "Create a self-assessment organisations payload"
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      headers:
        Authorization:
          description: "OAuth 2.0 Bearer Token or server token."
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
        Content-Type:
          description: "Specifies the content-type of the body."
          type: string
          required: true
          example: application/json
      queryParameters:
        startYear:
          description: "Starting year of repsonse"
          type: integer
          required: true
          example: 2016
        endYear:
          description: "Ending year of response"
          type: integer
          required: true
          example: 2019
      body:
        application/json:
          schema: !include schemas/organisations/create-organisations-return-detail.json
          example: !include examples/organisations/create-organisations-return-detail.json
      responses:
        201:
          description: The created contact details
          body:
            application/json:
              type: !include schemas/organisations/create-organisations-return-detail.json
              example: !include examples/organisations/create-organisations-return-detail.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST

  /organisations/self-assessment/{utr}/taxpayer/details:
    uriParameters:
      utr:
        description: "A Unique Tax Reference"
        type: string
        required: true
        example: "1234567890"
    post:
      displayName: "Create a self-assessment organisations taxpayer payload"
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      headers:
        Authorization:
          description: "OAuth 2.0 Bearer Token or server token."
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
        Content-Type:
          description: "Specifies the content-type of the body."
          type: string
          required: true
          example: application/json
      queryParameters:
        startYear:
          description: "Starting Year of response"
          type: integer
          required: true
          example: 2016
        endYear:
          description: "Ending year of response"
          type: integer
          required: true
          example: 2019
      body:
        application/json:
          schema: !include schemas/organisations/create-organisations-taxpayer-detail.json
          example: !include examples/organisations/create-organisations-taxpayer-detail.json
      responses:
        201:
          description: The created taxpayer details
          body:
            application/json:
              type: !include schemas/organisations/create-organisations-taxpayer-detail.json
              example: !include examples/organisations/create-organisations-taxpayer-detail.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
